$primary-color : #9ABDEB;
$secondary-color : #80F9B7;

$color-primary-light: #447BC3;
$color-secondary-light: #71D9A1;

$color-white: #fff;
$color-white-smoke: #fafaf8;
$color-white-gray:#F3F3F3;
$color-white-dim: #ddd;

$color-black: #000000;
$color-black-gray: #999999;




