/* PT Sans*/

@font-face {
    font-family: 'PT Sans';
    src: url('./fonts/PTSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('./fonts/PTSans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('./fonts/PTSans-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}


/* PT Serif */

@font-face {
    font-family: 'PT Serif';
    src: url('./fonts/PTSerif-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Serif';
    src: url('./fonts/PTSerif-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PT Serif';
    src: url('./fonts/PTSerif-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

/* Noto San */

@font-face {
    font-family: 'Noto Sans';
    src: url('./fonts/NotoSansMyanmar-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('./fonts/NotoSansMyanmar-SemiBold.ttf');
    font-weight: bold;
}

/* Noto Serif */

@font-face {
    font-family: 'Noto Serif';
    src: url('./fonts/NotoSerifMyanmar-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('./fonts/NotoSerifMyanmar-SemiBold.ttf');
    font-weight: bold;
}