@import './shared/fonts';
@import './shared/colors';

h1, h2, h3, h4, h5, h6, button, a, link, select {
    font-family: 'Noto Serif','PT Serif'!important;
    font-weight: bold;
}

body, p, span, option, text {
    font-family: 'Noto Sans','PT Sans' !important;
    font-size: 1rem;
}

a {
    color: $primary-color;
    text-decoration: none;
}

body, html{
    border: 0.1rem solid transparent;
}

.cases_container {
    margin-top: 6vh;
}

.react-grid-Container > .react-grid-Toolbar {
    border: none;
    padding-right: 0px;
}

.react-grid-Container > .react-grid-Toolbar .tools > button {
    background: $primary-color;
    margin-bottom: 1rem;
    margin-left: 0.8rem;
    border-radius: 0.2rem;
    font-weight: bold !important;
    padding: 0.8rem;
    border: unset;
    line-height: unset;
}

// .react-grid-Container > .react-grid-Toolbar .tools > button:hover {
    
// }

.react-grid-Container > .react-grid-Toolbar .tools > .btn {
    background: $primary-color;
    height: 2.8rem;
}

.react-grid-Container > .react-grid-Toolbar .tools > .btn:hover {
    background: $color-primary-light;
}

.react-grid-Container > .react-grid-Toolbar .tools > .btn::before {
    font-family: "Material Icons"; 
    content: "\039E";
    margin-right: 8px;
}


.react-grid-Container > .react-grid-Main .react-grid-Grid .react-grid-Header {
    font-weight: bold !important;
    background:$color-secondary-light !important;
}

.react-grid-Container > .react-grid-Main .react-grid-Grid .react-grid-Header .react-grid-HeaderCell {
    background:$color-secondary-light !important;
}

.react-grid-Container > .react-grid-Main .react-grid-Grid .react-grid-Header input[type="text"] {
    min-height: 30px;
    border: none;
    border-radius: 3px;
}

.react-grid-Grid {
    border: unset;
}

.MuiButton-label > a {
    text-decoration: none !important;
    text-transform: none !important;
    color: $color-black !important;
    position: relative;
    top: 5px;
}

.MuiButton-label > a:active a:focus {
    text-decoration: none !important;
    text-transform: none !important;
    color: $color-black !important;
}

.MuiInput-input > * {
    font-family: 'Noto Serif','PT Serif'!important;
    font-weight: bold;
}

.react-grid-Canvas {
    width: 100% !important;
    height: 100% !important;
    background: $color-white-gray !important;
}

.react-grid-Row:hover {
    font-weight: bold;
    color: $color-primary-light;
}

.react-grid-Container {
    border: 0px;
    z-index: 10;
    background: $color-white-gray !important;
}

.leaflet-container {
    width: 100%;
    height: 100%;
}
  
.request-popup .leaflet-popup-content-wrapper {
    border-radius: 0px;
    background: $secondary-color;
    color: $color-black;
    font-weight: bold;
}


.leaflet-container {
    width: 100%;
    height: 100%;
}
  
.request-popup .leaflet-popup-content-wrapper {
    border-radius: 0px;
    background: $secondary-color;
    color: $color-black;
    font-weight: bold;
}


.custom-timeline {
    margin-left: 20px;
}
  
.custom-timeline .rs-timeline-item-custom-dot .rs-icon {
    position: absolute;
    background: $color-white;
    top: 0;
    left: -2px;
    border: 2px solid $color-white-gray;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 18px;
    padding-top: 9px;
    color: $color-black-gray;
    margin-left: -13px;
}
  
.custom-timeline .rs-timeline-item-content {
    margin-left: 24px;
}


.overwrite_underline:focus {
      border-bottom: none !important;
}

.overwrite_underline:active :link {
    border-bottom: none !important;
}

textarea {
    display: block;
    width: 100%;
    border: 2px solid $color-white-gray;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

textarea:active{
    display: block;
    width: 100%;
    border: 2px solid $color-white-gray;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


.MuiDialogTitle-root{
    border-radius: 0px;
    background: $primary-color;
    font-weight: bold;
    height: 8vh;
    padding: 0.5rem;
}

.MuiDialogTitle-root > .MuiIconButton-root{
    color: $color-black !important;
    background: transparent;
    font-weight: bold;
}
.tracingbox {
    height: 68vh !important;
    overflow-y: scroll;
    background: $color-white-gray;
    border-radius: 0.2rem;
}

.tracingbox > #firstitemoftracing {
    display: flex;
    align-items: flex-start !important;
    background: $primary-color;
    height: 4rem;
    font-size: 1.2em !important;
    font-weight: bold;
}

.MuiBox-root > .MuiSvgIcon-root {
    color:$color-secondary-light;
    cursor: pointer;
}

.MuiBox-root > .MuiSvgIcon-root:hover{
    color: $color-primary-light;
    cursor: pointer;
    font-size: 2em;
    font-weight: bold;
}

.Select.is-open {
    z-index: 1000 !important;
}
.css-1wa3eu0-placeholder{
    color: $color-black !important;
    font-family: 'Noto Serif','PT Serif'!important;
    font-weight: bold;
}
.css-tlfecz-indicatorContainer{
    color: $color-black !important;
    font-family: 'Noto Serif','PT Serif'!important;
    font-weight: bold;
}

.css-1okebmr-indicatorSeparator{
    opacity: 0;
}
.css-1wa3eu0-placeholder {
    padding-top: 0.6rem;
}

#customized-dialog-title{
    padding: 1.5rem;
    background: $primary-color;
}

.MuiGrid-root > textarea.iframearea {
    width: 100% !important;
    height: 6.5rem !important;
    background-color: transparent;
    border: none !important;
    overflow: auto;
    outline: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    resize: none !important;
}

.MuiBox-root > textarea.linkarea {
    width: 100% !important;
    height: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
    background-color: transparent;
    border: none !important;
    overflow: auto;
    outline: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    resize: none !important;
}


.copyicon {
    width: 3rem !important;
    height: 3rem !important;
    color:$color-secondary-light !important;
    cursor: pointer;
}

.copyicon:hover {
    width: 3.1rem !important;
    height: 3.1rem !important;
    color: $color-secondary-light !important;
}

.layoutContainer {
    margin: 0.1rem;
    padding: 0.1rem;
}

.MuiBox-root > a {
    text-decoration: none !important;
    color: inherit !important;
}

#datasource {
    text-decoration: none !important;
    color: inherit !important;
    font-size: 1.5em;
    font-family: 'Noto Serif','PT Serif'!important;
    font-weight: bold;
    
}

.dialogtitle {
    color: inherit !important;
    font-size: 0.95em !important;
    font-family: 'Noto Serif','PT Serif'!important;
    font-weight: bold;
}

@media (max-width: 480px) {
    .dialogtitle{
        color: inherit !important;
        font-size: 0.45em !important;
        font-family: 'Noto Serif','PT Serif'!important;
        font-weight: bold;
        padding: 0.2rem;
    }
}
.react-grid-Toolbar > .tools > .btn {
    font-size: 1.1em !important;
    font-weight: bolder !important;
}

.MuiButton-label > a {
    font-size: 0.9em !important;
    font-weight: bold !important;
}

@media (max-width: 480px){
    .react-grid-Toolbar > .tools > .btn {
        font-size: .95em !important;
        font-weight: bolder !important;
    }

    .MuiButton-label> a {
        font-size: 0.8em !important;
        font-weight: bold !important;
    }
}

.timelinedate {
    font-weight: bold;
    font-size: 0.90em;
}

.selectgrid {
 z-index: 1000 !important;
}

.embeddedgrid {
 z-index: 10 !important;
}

.MuiIconButton-root {
 border-radius: 0% !important;
    /* border-radius: 50%; */
}

#mobilebutton > * {
    font-size: 1em !important;
    padding: 0px !important;
}