
    .card {
        width: '98.99%' !important;
        height: '45vh' !important;
        text-align: 'center' !important;
        overflow-y: scroll !important;
    }
    .cardMap {
        width: '98.99%' !important;
        height: '45vh' !important;
        text-align: 'center' !important;
    }

    .cardMap_media {
        height: '99.9999%';
        width: '100%';
        text-align: 'center'
    }

    .innerCard {
        text-align: center;
        font-weight: bold;
    }


    option, menu, menuitem{
        background: transparent;
    }