
.container {
    background: 'transparent';
    color: '#000000';
    box-shadow: 'none';
}

.Link {
    text-decoration: 'none' !important;
    text-transform: 'none';
    font-weight: bold;
}

.lgSwitch {
    width: 10rem !important;
    height: 2.5rem !important;
    padding: 0.2rem !important;
    margin: 0.2rem !important;
    text-align: center;
    background: transparent;
    font-size: 1rem !important;
    border: none;
}

.lgSwitch_Options{ 
    background: rgba(154, 189, 231, 1) !important;
    height: 2.5rem !important;
    padding: 0.2rem !important;
    margin: 0.1rem !important;
    text-decoration: none !important;
    text-transform: none !important;
    box-shadow: none !important;
    font-weight: bold;
}
