.leaflet-container {
    width: 100%;
    height: 99.9999vh;
  }
  
.request-popup .leaflet-popup-content-wrapper {
    border-radius: 0px;
    background: #80F9B7;
    color: '#000000';
    font-weight: bold;
}